torch==1.12.3
torchvision==0.13.3
pytorch3d==0.7.1
ninja==1.10.2.3
click==8.1.4
pytorch_lightning==1.5.10
six==1.16.0
open3d==0.17.0
natsort==8.1.0
pykeops==2.1.2
diffusers==0.18.0
numpy==1.23.5
transformers==4.21.0
tokenizers==0.12.1
sacremoses==0.0.53
